.container {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 1225px;
  font-style: normal;
  color: var(--darkest-grey);
  position: relative;
}

.timeline {
  margin: 0 auto;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 138px;
  left: 0;
  right: 0;
  border: 0.5px solid var(--medium-grey);
}

.noTopPadding {
  padding-top: 0;
}

.serviceWrapper {
  position: relative;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin: 30px auto 10px auto;
  padding-right: 8%;
  display: flex;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.noTopPadding .serviceWrapper {
  margin: 0;
}

.serviceWrapper::-webkit-scrollbar {
  display: none;
}

.service {
  scroll-snap-align: center;
  margin-right: 8%;
}

.service:first-of-type {
  margin-left: 8%;
}

.label {
  text-transform: capitalize;
  display: block;
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.image {
  max-width: 300px;
}

.copy {
  padding-top: 15px;
  min-width: 300px;
}

.title {
  font-size: 16px;
  margin-bottom: 5px;
}

.timeline .title:before {
  content: '';
  display: block;
  margin: -25px auto 10px auto;
  width: 1px;
  height: 40px;
  background: var(--medium-grey);
}

.title, .cta {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
}

.title, .cta {
  text-transform: uppercase;
}

.description {
  font-size: 15px;
  line-height: 24px;
  max-width: 400px;
  margin: 0 auto;
}

.cta {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}


@media (min-width: 550px) {
  .timeline:before {
    display: none;
  }

  .serviceWrapper {
    flex-wrap: wrap;
    padding-right: 0;
    justify-content: center;
    margin-bottom: 20px;
  }

  .service, .service:first-of-type {
    margin: 0;
  }

  .service:not(:first-of-type) {
    padding-top: 40px;
  }
}

@media (min-width: 800px) {
  .service:not(:last-of-type) {
    padding-top: 0;
  }

  .copy {
   width: 90%;
   margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .noTopPadding {
    padding-top: 0;

    .serviceWrapper {
      margin: 0 auto 60px;
    }
  }

  .timeline {
    padding-bottom: 10px;
  }

  .timeline:before {
    display: block;
    margin: 0 17.5%;
  }

  .serviceWrapper {
    flex-wrap: nowrap;
  }

  .service:last-of-type {
    padding-top: 0;
  }
}
