.main {
  margin: 0 auto 80px auto;
  text-align: center;

  h2 {
    margin-top: 50px;
    font-size: 18px;
  }
  
  p {
    font-size: 14px;  
    margin: 10px 0;
  }  

  hr {
    max-width: 80%;
    height: 1px;
    border: 0;
    border-top: 1px solid #e2dede;
    margin: 16px auto 16px auto;
  }
}


