.container {
    padding: 70px 0;
    background: #ffffff;
    color: #373636;

    .images {
      margin: 30px;

      img {
        margin: 0 30px;
        vertical-align: middle;
      }
    }
  }