.container {
    background: var(--muted-background);
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    box-shadow: 0 1px var(--pale-grey);
}

.contentWrapper {
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.links {
    margin-bottom: 20px;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    order: 2;
}

.linksList {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 28px;

    .last {
        padding-right: 15px;
    }
}

.pages {
    width: 100%;
    text-transform: uppercase;
}

.icons {
    display: none;
}

.logoWrapper {
    display: block;
    margin: 0 auto;
    order: 1;
}

.logo {
    max-width: 150px;
    margin: 20px auto;
}

@media (min-width: 375px) {
    .linksList  {
        gap: 30px;
    }
}

@media (min-width: 1000px) {
    .contentWrapper {
        flex-wrap: nowrap;
        padding: 0 15px;
    }

    .links {
        margin: 0;
        width: 50%;
        justify-content: flex-start;
    }

    .links:last-of-type {
        justify-items: end;
    }

    .logoWrapper {
        order: 2;
    }

    .logo {
        max-width: 175px;
    }

    .icons {
        display: block;
    }
}