.container {
    background: #ffffff;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    box-shadow: 0 1px #f4f3f1;
}

.contentWrapper {
    max-width: 1100px;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.links {
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
}

.linksList {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 28px;

    .last {
        padding-right: 15px;
    }
}

.pages {
    width: 100%;
    text-transform: uppercase;
}

.icons {
    display: none;
}

@media (min-width: 375px) {
    .linksList  {
        gap: 50px;
    }
}

@media (min-width: 700px) {
    .links {
        display: block;
        padding: 0;
        margin: 0 15px;
    }

    .linksList {
        width: 50%;
        justify-content: flex-start;

        .last {
            padding: 0;
        } 
    }
}

@media (min-width: 1000px) {
    .links {
        width: 50%;
        margin: 0;
    }

    .links:last-of-type {
        justify-items: end;
    }
}