.container {
    display: flex;
    overflow-x: scroll;
    height: 50px;
    background: #ffffff;
    align-items: center;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    box-shadow: 0 1px #f4f3f1;
}

.links {
    scroll-snap-align: center;
    display: flex;
    justify-content: flex-start;
    margin: 0 15px;
}

.linksList {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 28px;

    .last {
        padding-right: 15px;
    }
}

.pages {
    width: 100%;
    text-transform: uppercase;
}

.icons {
    display: none;
}

@media (min-width: 375px) {
    .links {
        justify-content: center
    }
}

@media (min-width: 700px) {
    .links {
        display: block;
        padding: 0;
    }

    .linksList {
        width: 50%;
        justify-content: flex-start;
        gap: 40px;

        .last {
            padding: 0;
        } 
    }
}

@media (min-width: 1000px) {
    .links {
        width: 50%;
        justify-items: center;
    }

    .linksList {
        justify-content: center;
    }
}